{% block header %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Maison des ligues</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <img src={{ asset("images/shipLogo.jpg") }} img width="100" />
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Connecter en tant que <span>{{ app.user.username }}</span></a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/monCompte">Modifier mon profil</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Deconnexion</a>
        </div>
      </li>
      {#<li class="nav-item">
          <div class="nav-link">Connecter en tant que <span>{{ app.user.username }}</span></div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Deconnexion</a>
      </li>#}
      {% else %}
          <li class="nav-item">
        <a class="nav-link" href="/login">Connexion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Inscription</a>
      </li>
      {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
{% endblock %} 